@model NullQuestOnline.Game.GameWorld

@{
    ViewBag.Title = "Play Online";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<section id="loginForm">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Log in Form</legend>
            <ol>
                <li>
                    @Html.Label("characterNameLabel", "Enter your character name: ")
                    @Html.TextBox("characterName", "")
                </li>
            </ol>
            <button type="submit" class="btn">Log in</button>
        </fieldset>
    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
